<!-- <nav class="navbar">
 
  <h2>Finance Hub</h2>
 
  <div class="nav-links">
 
   <a routerLink="/register">Register</a>
 
   <a routerLink="/login">Login</a>
 
  </div>
  <!-- navbar.component.html -->
<!-- <div class="navbar">
  
    <label class="switch">
      <input type="checkbox" (change)="toggleDarkMode()">
      <span class="slider round"></span>
    </label>
  </div>


 
 </nav> -->

 <!-- <nav class="navbar">
 
  <div class="navbar-title">
    <h2>Finance Hub</h2>
  </div>

  <div class="nav-links">
    <a routerLink="/Register" class="nav-link">Register</a>
    <a routerLink="/Login" class="nav-link">Login</a>

    
  </div>
   
</nav>  -->


<!-- <nav class="navbar">
  
  <div class="navbar-title">
    <img src="/assets/Black_White_Modern_Finance_House_Logo_Design-removebg-preview (2).png" alt="Finance Hub Logo" class="navbar-logo" />
    <h2>Finance Hub</h2>
  </div>

  
  <div class="nav-links">
    <a routerLink="/Register" class="nav-link">Register</a>
    <a routerLink="/Login" class="nav-link">Login</a>
  </div>
</nav> -->

<nav class="navbar">
  <!-- Logo or Title -->
  <div class="navbar-title">
    <img src="/assets/Black_White_Modern_Finance_House_Logo_Design-removebg-preview (2).png" alt="Finance Hub Logo" class="navbar-logo" />
    <h2>FINANCE HUB</h2>
   
  </div>

  <!-- Navigation Links -->
  <div class="nav-links">
    <a routerLink="/Register" class="nav-link">Register</a>
      <a routerLink="/Login" class="nav-link">Login</a>
    
  </div>
</nav>