<div class="savings-plan-container">
    <h2>Available Savings Plans</h2>
    <input type="text" placeholder="Search by plan name" [(ngModel)]="searchTerm" (input)="filterPlans()">
    <table>
        <thead>
            <tr>
                <th>Plan Name</th>
                <th>Goal Amount</th>
                <th>Time Frame</th>
                <th>Risk Level</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let plan of filteredPlans">
                <td>{{ plan.name }}</td>
                <td>{{plan.goalAmount}}</td>
                <td>{{plan.timeFrame}}</td>
                <td>{{plan.riskLevel}}</td>
                <td>{{plan.description}}</td>
                <td>{{ plan.status }}</td>
                <td>
                    <button *ngIf="plan.status === 'Active' && !plan.applied" (click)="applyForPlan(plan)">Apply</button>
                    <span *ngIf="plan.status !== 'Active' || plan.applied">Not Available</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>



