






  <nav class="managernav">
    <h2 class="managernav-title">FINANCE HUB</h2>
    <div class="manager-nav-links">
      <button class="manager-btn">User/Regional Manager</button>
      <a routerLink="/Home" class="manager-nav-link">Home</a>
      <div class="dropdown">
        <a class="manager-nav-link">Saving Plan</a>
        <div class="dropdown-content">
          <a routerLink="/Manager/AddSavingPlan" class="dropdown-item">Add Saving Plan</a>
          <a routerLink="/Manager/SavingPlans" class="dropdown-item">View Saving Plan</a>
        </div>
      </div>
      <a routerLink="/Manager/ApplicationForms" class="manager-nav-link">Application Forms</a>
      <a routerLink="/Manager/Feedback" class="manager-nav-link">Feedback</a>
      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
  </nav>
  
  