<nav class="usernav">
  <!-- Title -->
  <div class="usernav-title">
    <img src="/assets/Black_White_Modern_Finance_House_Logo_Design-removebg-preview (2).png" alt="Finance Hub Logo" class="usernav-logo" />
    <h2>FINANCE HUB</h2>
  </div>

  <!-- Navigation Links -->
  <div class="nav-links">
    <button class="customer-btn">User/Customer</button>
    <a routerLink="/User/Home" class="nav-link">Home</a>
    <a routerLink="/User/SavingPlans" class="nav-link">Saving Plan</a>
    <a routerLink="/User/AppliedPlans" class="nav-link">Application Plan</a>

    <!-- Dropdown for Feedback -->
    <div class="dropdown">
      <a class="nav-link">Feedback</a>
      <div class="dropdown-content">
        <a routerLink="/User/AddFeedback" class="dropdown-item">Post Feedback</a>
        <a routerLink="/User/Feedbacks" class="dropdown-item">My Feedbacks</a>
      </div>
    </div>

    <!-- Buttons -->
    
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</nav>