.usernav {
 
    background: linear-gradient(to right, #146c07, rgb(166,249,157));
   
    color: rgb(224, 240, 231);
   
    padding: 15px 30px;
   
    display: flex;
   
    justify-content: space-between;
   
    align-items: center;
   
    border-radius: 4px;
   
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   
   }
   body{
   margin-top: 5px; 

   padding: 20px; 
   /* background-image: url("/assets/Screenshot 2025-04-14 110128.png"); */
   background-image: url("/assets/savings2.jpg"); 
   

   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   min-height: 100vh;
   padding: 2px; 
   color:white;
   }


   .title {
   
    margin: 0;
   
    font-size: 20px;
   
    font-weight: bold;
   
    letter-spacing: 1px;
   
   }
   .customer-btn{
    background-color: #4d91ff;
    border:none;
    padding: 6px 12px;
    color:white;
    border-radius:4px;
    margin-left: 20px;
    cursor:pointer;

   }
   .customer-btn:hover{
    background-color: #cc0000;
   }
 
   .nav-links a {
   
    color: white;
    background-color: #bc96b2; 
   
    text-decoration: none;
   
    margin-left: 20px;
    
    border-radius: 7px; 
    
    transition: background-color 0.3s ease; 

    font-weight: bold;
   
   }
   
   
   
   .nav-links a:hover,
   
   .active-link {
   
    background-color: #0056b3; 
   
    text-decoration: none;
   
   }
   .logout-btn{
    background-color: #4d91ff;
    border:none;
    padding: 6px 12px;
    color:white;
    border-radius:4px;
    margin-left: 20px;
    cursor:pointer;

   }
   .logout-btn:hover{
    background-color: #cc0000;
   }
 