<div class="container"> 
    <header>
    <h1>Finance Hub :Your trusted Financial Platform</h1> 
</header>
    
<div class="marquee">
 <p>Welcome to Finance Hub!!!</p>
 </div>


    
    <p>Welcome to Finance Hub—your go-to platform for all things finance! Whether you're managing personal budgets, exploring investment opportunities, or staying updated with market trends, we've got you covered. Our expert insights, tools, and resources empower you to make informed financial decisions with confidence. Secure, reliable, and user-friendly—Finance Hub is your trusted partner in financial growth. Start your journey towards financial success today!
    </p> 
    <section class="chit-plans">
    

    <div class="plan-card">
         <h2>chota Save</h2>
         <p>50k Chit Plan<br>Save ₹ 2,000 / month<br>Duration | 25 months</p>
         <button>View Details</button>
         </div>
        
         <div class="plan-card">
         <h2>bada Save</h2>
         <p>1 Lakh Chit Plan<br>Save ₹ 4,000 / month<br>Duration | 25 months</p>
         <button>View Details</button>
         </div>
        
         <div class="plan-card">
         <h2>zyada Save</h2>
         <p>3 Lakh Chit Plan<br>Save ₹ 10,000 / month<br>Duration | 25 months</p>
         <button>View Details</button>
     </div>
    </section>
        
        
       
</div>

