<div class="controls">
    <button class="btn sort-button" (click)="sortAmountAscending()">Sort Amount Ascending</button>
    <button class="btn sort-button" (click)="sortAmountDescending()">Sort Amount Descending</button>
  </div>
  
  <table class="styled-table">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Plan Name</th>
        <th>Applied Amount</th>
        <th>Application Date</th>
        <th>Remarks</th>
        <th>Status</th>
        <th>Proof Document</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of planApplications; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ savingsplans[item.SavingsPlanId]?.Name}}</td>
        <td>{{ item.AppliedAmount }}</td>
        <td>{{ item.ApplicationDate | date: 'yyyy-MM-dd'}}</td>
        <td>{{ item.Remarks }}</td>
        <td>{{ item.Status }}</td>
        <td>
          <button class="btn view-button" (click)="viewImage(item.ProofDocument)">View Image</button>
          <button class="btn delete-button" (click)="deletePlanApplication(item.PlanApplicationId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Modal for Viewing Image -->
  <div class="modal" *ngIf="selectedImage">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <img [src]="selectedImage" alt="Proof Document" class="modal-image" />
    </div>
  </div>