<h2>Application Form</h2>
<form (ngSubmit)="addPlanApplication()" #planForm="ngForm">
    <div>
      <label for="AppliedAmount">Applied Amount</label>
      <input type="number" id="AppliedAmount" [(ngModel)]="newPlanApplication.AppliedAmount" name="AppliedAmount" required />
      <div class="error-message" *ngIf="formSubmitted && !newPlanApplication.AppliedAmount">Applied Amount is required</div>
    </div>
  
  
  
    <div>
      <label for="ApplicationDate">Application Date</label>
      <input type="date" id="ApplicationDate" [(ngModel)]="newPlanApplication.ApplicationDate" name="ApplicationDate" required />
      <div class="error-message" *ngIf="formSubmitted && !newPlanApplication.ApplicationDate">Application Date is required</div>
    </div>
  
    <div>
      <label for="Remarks">Remarks</label>
      <input type="text" id="Remarks" [(ngModel)]="newPlanApplication.Remarks" name="Remarks" />
    </div>
  
    <!-- <div>
      <label for="ProofDocument">Proof Document</label>
      <input type="text" id="ProofDocument" [(ngModel)]="newPlanApplication.ProofDocument" name="ProofDocument" required />
      <div class="error-message" *ngIf="formSubmitted && !newPlanApplication.ProofDocument">Proof Document is required</div>
    </div> -->
  
    
  
    
    <button type="submit">Submit</button>
  </form>
   

  