<h2 class="form-heading">Plan Application Form</h2>
<div class="form-container">
  <div class="card">
    <div class="card-body">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
          <input type="number" placeholder=" " class="form-control" id="appliedAmount" required
                 [(ngModel)]="planApplicationForm.AppliedAmount" name="appliedAmount"
                 #appliedAmount="ngModel" (ngModelChange)="validateAmount()">
          <label for="appliedAmount">Applied Amount<span class="required">*</span></label>
          <div *ngIf="appliedAmount.invalid && (appliedAmount.touched || appliedAmount.dirty) || amountError"
               class="error-message">
            <p class="text-danger">Applied Amount is required {{ amountError }}</p>
          </div>
        </div>
        <div class="form-group">
          <input type="date" class="form-control" id="applicationDate" required
                 [(ngModel)]="planApplicationForm.ApplicationDate" name="applicationDate"
                 #applicationDate="ngModel" [min]="minDate">
          <label for="applicationDate">Application Date<span class="required">*</span></label>
          <div *ngIf="applicationDate.invalid && (applicationDate.touched || applicationDate.dirty)"
               class="error-message">
            <p class="text-danger">Application Date is required</p>
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control" id="remarks" placeholder=" " rows="3" required
                    [(ngModel)]="planApplicationForm.Remarks" name="remarks" #remarks="ngModel"></textarea>
          <label for="remarks">Remarks<span class="required">*</span></label>
          <div *ngIf="remarks.invalid && (remarks.touched || remarks.dirty)"
               class="error-message">
            <p class="text-danger">Remarks are required</p>
          </div>
        </div>
        <div class="form-group">
          <input type="file" class="form-control" id="proof" name="proof" (change)="onFileChange($event)" required>
          <label for="proof">Proof Document<span class="required">*</span></label>
          <small class="form-text text-muted">Only .jpeg, .jpg, .png files are allowed</small>
          <div *ngIf="fileError || !selectedFile" class="error-message">
            <p class="text-danger">{{ fileError ? fileError : 'Proof Document is required' }}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="planName">Savings Plan<span class="required">*</span></label>
          <input type="text" id="planName" class="form-control" [(ngModel)]="savingsPlan.Name"
                 name="planName" disabled>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid || amountError || fileError">Submit</button>
      </form>
    </div>
  </div>
</div>