<!-- <app-registration></app-registration>
//<app-userviewsavingsplan></app-userviewsavingsplan>
<app-managercreatesavingsplan></app-managercreatesavingsplan>
<app-managereditsavingsplan></app-managereditsavingsplan>
<app-managerviewsavingsplan></app-managerviewsavingsplan>
<app-userplanapplicationform></app-userplanapplicationform> -->
<!-- <app-userappliedplans></app-userappliedplans> -->
<app-managercreatesavingsplan></app-managercreatesavingsplan>
<app-managereditsavingsplan></app-managereditsavingsplan>
<app-managerviewsavingsplan></app-managerviewsavingsplan>
<!-- <app-userplanapplicationform></app-userplanapplicationform> -->
<!-- <app-login></app-login> -->
<!-- <app-navbar></app-navbar> -->
<router-outlet></router-outlet>